*.*
!.gitattributes
!.gitignore
!readme.md
!.gitkeep
!*.cpp
!*.hxx
!*.cxx
!*.hpp
!*.ld
!*.md
!*.tex
!*.csv
!*.pdf
!*.pdsprj
!*.c
!*.h
!*.sh
!*.mk
!*.py
!*.txt
!.version
!*.bat
!Nuttx/*
!*.unix
!*.win
!*.cfg
!*.pl
!*.host
!*.export
!*.defs
!*.S
!*.asm
!*.script
!*.0
!*.x
!*.map
!Makefile.*
